.footer-band{
    display: flex;
    width:100%;
    height: 5rem;
    background: url(../../assets/band-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}